.list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.listItem {
    display: flex;
    flex-direction:column;
    align-items: center;
}

li img {
    width: 150px;
}